*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    list-style:none;
    font-family:'poppins',sans-serif;
}
body{
    background-color:aqua;
}
.navbar{
    width:100%;
    height: 80px;
    background-color:#b8e9ef;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#000;
}
.menu ul{
    display: flex;
align-items: center;
}
.menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}
.menu ul li a:hover{
    border-bottom: 4px solid #000;
    transition: 0.4%;
}
.signup a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding:12px 30px;
    border: 2px solid #ff0000;
}
.signup a:hover{
    background-color: red;
    transition: 0.6s;
}
.body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(4.jpg);
    background-position : center;
    background-size: cover;
}
.heading{
    width:30%;
    text-align:center;
    color: #fff;
}
.heading h1{
    font-size: 40px;
}

.haeding a:hover{
          letter-spacing:3px;
          transition: 0.6s;
}
.tours{
    width:70%;
    display: flex;
    justify-content: space-around;
}
.places{
    display: inline;
    text-align:center;
    border-radius:12px;
}
.places a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:18px;
    border-radius: 12px;
    padding:12px 30px;
    background-color:#000;
}